/* Import your application global css files here or add the styles directly to this file */

html {
	/*--lumo-primary-color: brown;*/
	/*--lumo-primary-text-color: brown;*/
	--lumo-font-family: montserrat;
	--lumo-primary-color: #4b5bd6;
}

.bugrapUserIcon{
	height: 20px;
	width: 20px;
	color: #414fbc;
}


